-- Add columns for Admin document updates in the Waiting for Transfer checklist
ALTER TABLE plots ADD COLUMN IF NOT EXISTS permit_date DATE;
ALTER TABLE plots ADD COLUMN IF NOT EXISTS registration_date DATE;
ALTER TABLE plots ADD COLUMN IF NOT EXISTS water_meter_date DATE;
ALTER TABLE plots ADD COLUMN IF NOT EXISTS electric_meter_date DATE;
